<template name="aboutUs">
	<h1>About Congregation</h1>
	<div id="main">
		<pre style="word-break: keep-all">Hey guys,

	Welcome to Congregation. I see you have found the "About" page. Good Work! Anyway, Congregation is a TJ club platform that was designed to streamline club processes, such as announcements, fee collection, and file sharing, as well as foster an individual community in every club through our forums and discussion boards.Our goal is to have every TJ club use Congregation by the end of 2015.  

	Coding for Congregation started as my personal hobby right after the 2014 AP exams in May. It started as only a developmental project, but quickly ballooned into a full grown site. Along the way, I've had some help in coding Congregation from a few friends. <strong style="font-style: italic">One friend who I would like to thank in particular is Jaehyun Jeon </strong>for providing web development learning resources to me and even some of the code which runs Congregation's current forums. Without his help, Congregation may have never come into existence.

	Congregation is maintained and run by TJ students who receive no funding from outside sources. We don't want to resort to using ads to pay for the site's domain name fees and SSL certification, so <strong style="font-style: italic">please donate some money to Congregation using the button below.</strong> If you have any suggestions for improving Congregation, be sure to email them to us at 2016kshroff@tjhsst.edu. 

	Thanks for using Congregation,

		Kunal Shroff, 
		Lead Coder of Congregation
		</pre>
	</div>
	<div style= "text-align: center">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="ZE56ZXJP5NPFL">
				<input type="image" src="http://go.liverfoundation.org/images/content/pagebuilder/btn_blue_donate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>

	</div>
</template>